[Desktop Entry]
Name=blink_record
Comment=Better recording with tf2
Exec="/usr/local/bin/blink_record"
Icon=steam_icon_440
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
